<div class="container">
  <h1>Quotes</h1>

  <div class="row">
    <div class="col-md-6">
      <ul>
        <div *ngFor="let quote of quotes; let i = index">
          <li>
            {{ quote.id }}
            {{ quote.quote }},
            {{ quote.upvote }}
            {{ quote.downvote }}
          </li>

          <button (click)="toggleDetails(i)">Show Quote</button>
          <app-quote-detail
            *ngIf="quote.showDescription"
            [quote]="quote"
            (done)="completeQuote($event, i)"
          ></app-quote-detail>
        </div>
      </ul>
    </div>
  </div>
</div>
