<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


<div class="container">
  <h1 class="text-center">Quotes</h1>

<!-- <div *ngFor = 'let quote of quotes'>
  <div>{{quote}}</div>
</div> -->

<div class="card-column">
  <div class="card" *ngFor = 'let quote of quotes let i=index'>

<div class="card-details">
  <p class="card-title">
    <span>{{quote.id}}.</span><br>
    <i class="fas  fa-quote-left    "></i>
    <span>{{quote.quote}}</span>
    <span>{{quote.author}}</span><br>
  <span>{{quote.upvote}}</span><br>
  <span>{{quote.downvote}}</span><br>
  <span>{{quote.upload}}</span><br>

  </p>
<div class="card-text"></div>

</div>

  </div>
</div>
</div>





