<div class="container">
  <h2 class="text-center">Create a new Quote</h2>
  <hr />
  <form>
    <div class="form-group">
      <label for="quote">Quote</label>
      <input type="text" required class="form-control" id="name" />
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input type="text" required class="form-control" id="author" />
    </div>

    <div class="form-group">
      <label for="userName">userName</label>
      <input type="text" id="user" />
    </div>
  </form>
</div>
